html, body {
    height: 100%; margin: 0; font-size: 10pt;
    font-family: "Times New Roman";
}
.content {
    /* flex 直式排列 */
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
}
div { padding: 6px; }


.left {
    flex-grow: 1; /* top-menu, status 未設 flex-grow，本列佔用所有剩餘空間 */
    background-color:#988162;
    width:20%;
}
.right {
    flex-grow: 1; /* top-menu, status 未設 flex-grow，本列佔用所有剩餘空間 */
    background-color: #cfbe9c;
    width:80%;
}
.float > span { float: left; margin-right: 6px; }

.left_c {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.cre {
    height:120px;
    overflow: hidden;
}

.log{
    display:block;width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:#212529;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0
}


.log:hover{
    color:#16181b;
    text-decoration:none;
    background-color:#cfb19c}

.chat_l{
    flex-grow: 1;
    overflow: hidden;
}

#chat_list {
    overflow-y: scroll;
    height: 100%;
}


.rightc {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.chatroomname {
    height:110px;
    overflow:visible;
    width: auto;
    background-image: url("../img/candle.jpg");
}

.post_l{
    flex-grow: 1;
    overflow:auto;
}

#post_list {
    overflow-y: scroll;
    height: 100%;
}

#mes {
    height:150px;
}

.roombtn {
    background-color:#feefd2;
}

.press_btn {
    
    background-color:#5d3201;
    color: #feefd2;
}


.a{
    width:100%;
    height: 200px;
}

.b{
    width: 350px;
    border-radius:15px;
    float: right;
    height:190px;
    background-color:#feefd2;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    box-shadow: 5px 5px 3px #746954;
}

.c{
    width: 350px;
    border-radius:15px;
    float: left;
    height:190px;
    background-color:#feefd2;
    word-break: break-all;
     word-wrap: break-word;
     overflow: hidden;
     box-shadow: 5px 5px 3px #746954;
}

.d{
    width: auto;
    border-radius:15px;
    margin:10px;
    height:45px;
    background-color:white;
    word-break: break-all;
     word-wrap: break-word;
     overflow: hidden;
     text-align:center;
}

.member {
    margin-left:200px;
    margin-right:0px;
}

.chatbtn {
    margin-left:10px;
    margin-right:0px;
}

#chatroom{
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 900px) {
    
    .member {
        margin-left:10px;
    }
    .chatroomname {
        height:140px;
        overflow:visible;
        width: auto;
        background-color: aqua;
    }
}

@media (max-width: 1200px)
{
    #chatroom{
        font-size: 15px;
        font-weight: bold;
    }
}